@model edu_for_you.Models.Postagem

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Postagem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="id_curso" class="control-label"></label>
                <select asp-for="id_curso" class ="form-control" asp-items="ViewBag.id_curso"></select>
            </div>
            <div class="form-group">
                <label asp-for="id_usuario" class="control-label"></label>
                <select asp-for="id_usuario" class ="form-control" asp-items="ViewBag.id_usuario"></select>
            </div>
            <div class="form-group">
                <label asp-for="postagem_pai_id" class="control-label"></label>
                <select asp-for="postagem_pai_id" class ="form-control" asp-items="ViewBag.postagem_pai_id"></select>
            </div>
            <div class="form-group">
                <label asp-for="titulo" class="control-label"></label>
                <input asp-for="titulo" class="form-control" />
                <span asp-validation-for="titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="conteudo" class="control-label"></label>
                <input asp-for="conteudo" class="form-control" />
                <span asp-validation-for="conteudo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="data_criacao" class="control-label"></label>
                <input asp-for="data_criacao" class="form-control" />
                <span asp-validation-for="data_criacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="data_atualizacao" class="control-label"></label>
                <input asp-for="data_atualizacao" class="form-control" />
                <span asp-validation-for="data_atualizacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
