.btn-save {
    background-color: #769AC1;
    color: white;
    padding: 10px 12px;
    border-radius: 8px;
    font-weight: 400;
    font-size: 14px;
    border: none;
    transition: background-color 0.3s ease;
}

.btn-save:hover {
    background-color: #5c7aa1;
    color: #ffffff;
}

.btn-yellow {
    background-color: rgba(250, 185, 0, 0.85);
    color: white;
    padding: 10px 12px;
    border-radius: 8px;
    font-weight: 400;
    font-size: 14px;
    border: none;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.btn-yellow:hover {
    background-color: rgba(250, 185, 0, 1);
    color: #ffffff;
    text-decoration: none;
}

.botoes-form {
    margin-top: 20px; 
}